*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

#cartDiv{
    display: flex;
    flex-wrap: wrap;
}

#divSpinner{
	width: 100%;
}

#cartTable{
    display: flex;
    background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

#table{
    width: 70%;
    height: 850px;
    overflow-y: scroll;
}

table{
    background-color: white;
	text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th, td{
	padding: 20px;
}

td img{
    width: 100px;
    height: 100px;
}

thead{
	background-color: #1B2839;
	color: white;
}

tbody{
    height: 500px;
    background-color: white;
}

tbody tr{
    height: 10%;
}

#emptyCartContainer{
    width: 100%;
}

#emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emptyCart h2{
    font-size: 50px;
    padding: 50px;
}

#emptyCart p{
	font-size: 30px;
    padding-bottom: 30px;
}

#emptyCart button{
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: bolder;
    background-color: rgb(35, 153, 221);
}

#emptyCart button:hover{
    cursor: pointer;
}

/*FORMULARIO*/
#divForm{
    width: 30%;
}

#block{
    background-color: #1B2839;
    height: 60px;
    display: grid;
    place-items: center;
}

#totalText{
    color: white;
    align-self: center;
}

.formulario {
	width: 100%;
    padding: 20px;
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input{
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0085FF;
	font-weight: 600;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

#cleanCart{
    margin-top: 12px;
	display: block;
	background: rgb(175, 18, 18);
	font-weight: 600;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="text"]:hover {
	background: rgb(175, 18, 18);
}