#spinnerContainer{
    display: grid;
    place-items: center;
    height: 800px;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #2399dd;
    border-left: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}