/*GENERAL*/
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*CONTENEDOR PRINCIPAL*/
#header{
    display: flex;
    max-height: 100px;
    background-color: rgb(44, 122, 167);
    font-family: 'Source Sans Pro', sans-serif;
}

/*CONTENEDOR DEL LOGO*/
#logo{
width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    max-width: 100px;
    max-height: 100px;
}

#logo h1 a{
    color: black;
}

/*CONTENEDOR DE LISTA DE OPCIONES*/
#lista{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lista li a{
    color: black;
    font-size: 18px;
}

/*CONTENEDOR DEL BOTON DEL CARRITO (COMPONENTE)*/
#div_carrito{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}