/*GENERAL*/
*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*CONTENEDOR PRINCIPAL*/
#header{
    display: flex;
    max-height: 100px;
    background-color: rgb(44, 122, 167);
    font-family: 'Source Sans Pro', sans-serif;
}

/*CONTENEDOR DEL LOGO*/
#logo{
width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    max-width: 100px;
    max-height: 100px;
    animation: logo 5s linear infinite;
}

@keyframes logo {
    0% {
        transform: rotate(360deg);
    }
}

#logo h1 a{
    color: black;
}

/*CONTENEDOR DE LISTA DE OPCIONES*/
#listHeader{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#listHeader li a{
    color: black;
    font-size: 18px;
}

/*CONTENEDOR DEL BOTON DEL CARRITO (COMPONENTE)*/
#divCart{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}